.card {
    width: 260px;
    height: 350px;
    border:5px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.dairy-active {
    border-color:#15BAFA;
    background-color: #89DCFC;
}

.dairy-active:hover {
    border-color:#26385C;
    background-color: #26385C;
    color: white;
    font-weight: 400;
    margin-top: -5px;
    filter: drop-shadow(0 0 2px black);
}

.dairy-reserved {
    border-color:#26385C;
    background-color: #26385C;
    color: white;
}

.vegetables-active {
    border-color:#4CB849;
    background-color: #A4DBA3;
}

.vegetables-active:hover {
    margin-top: -5px;
    filter: drop-shadow(0 0 2px black);
    color: white;
    font-weight: 400;
    border-color: #327647;
    background-color: #327647;
}

.vegetables-reserved {
    border-color: #327647;
    background-color: #327647;
    color: white;
}

.fruits-active {
    border-color:#FD67D2;
    background-color: #FDB2E8;
}

.fruits-active:hover {
    margin-top: -5px;
    filter: drop-shadow(0 0 2px black);
    color: white;
    font-weight: 400;
    border-color:#8F3676;
    background-color: #8F3676;
}

.fruits-reserved {
    border-color:#8F3676;
    background-color: #8F3676;
    color: white;
}

.grains-active {
    border-color:#D69C33;
    background-color: #E9C990;
}

.grains-active:hover {
    margin-top: -5px;
    filter: drop-shadow(0 0 2px black);
    color: white;
    font-weight: 400;
    border-color:#5F4E32;
    background-color: #5F4E32;
}

.grains-reserved {
    border-color:#5F4E32;
    background-color: #5F4E32;
    color: white;
}

.protein-active  {
    border-color:#C2462A;
    background-color: #E0A193;
}

.protein-active:hover {
    margin-top: -5px;
    filter: drop-shadow(0 0 2px black);
    color: white;
    font-weight: 400;
    border-color:#90311D;
    background-color: #90311D;
}

.protein-reserved  {
    border-color:#90311D;
    background-color: #90311D;
    color: white;
}

.image {
    width: 260px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.profile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
}
