.login {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.login:hover {
    cursor: pointer;
}

.signup {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.signup:hover {
    cursor: pointer;
}

.submit {
    width: 80px;
    height: 35px;
    background-color: #76D97E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    font-weight: 700;
}

.submit:hover {
    cursor: pointer;
}

.cancel {
    width: 80px;
    height: 35px;
    background-color: #28A690;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    font-weight: 700;
}

.cancel:hover {
    cursor: pointer;
}

.nonprofit {
    width: 168px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.nonprofit:hover {
    cursor: pointer;
}

.business {
    width: 168px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.business:hover {
    cursor: pointer;
}

.question {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.modalOption {
    font-size: 16px;
    text-decoration: underline;
}

.modalOption:hover {
    cursor: pointer;
}
