.idCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 336px;
    height: 192px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#76D97E, #28A690),
                url('../../Assets//Images//Pattern_5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    width: 336px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 100px;
    height: 51px;
}

.logoType {
    font-family: motiva-sans, sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    color: black;
}

.labels {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: black;
}

.subText {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: black;
}

.sloganBox {
    width: 185px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: motiva-sans, sans-serif;
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    color: black;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
}

.iconBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    width: 336px;
    height: 141px;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 76px;
    height: 141px;
}

.image {
    width: 70px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid white;
    object-fit: contain;
    object-position: center;
    filter: drop-shadow(0 3 6px rgba(0, 0, 0, 0.15));
}

.userInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 130px;
    height: 141px;
}

.jobInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 130px;
    height: 141px;
}

.addressBox {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 50px;
}
