.card {
    width: 260px;
    height: 350px;
    border:5px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.dairy {
    border-color:#15BAFA;
    background-color: #89DCFC;
}

.vegetables {
    border-color:#4CB849;
    background-color: #A4DBA3;
}

.fruits {
    border-color:#FD67D2;
    background-color: #FDB2E8;
}

.grains {
    border-color:#D69C33;
    background-color: #E9C990;
}

.protein  {
    border-color:#C2462A;
    background-color: #E0A193;
}

.image {
    width: 260px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}

.formTitle {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 900;
    color: black;
    width: 315px;
    height: 100px;
}

.incomplete {
    background-color: #F2AF9A;
    border: 1px solid rgba(144, 49, 29, 0.5);
    border-radius: 2px;
    color: black;
    width: 125px;
    height: 15px;
}

.completed {
    background-color: #9AF2C0;
    border: 1px solid rgba(40, 166, 144, 0.5);
    border-radius: 2px;
    color: black;
    width: 125px;
    height: 15px;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 25px;
    border-radius: 5px;
    color: black;
    background-color: #D49524;
    cursor: pointer;
    opacity: 50%;
}

.reset:hover {
    opacity: 100%;
    color: white;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    color: white;
    background-color: #46A843;
    cursor: pointer;
    opacity: 50%;
}
