.navbar {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#76D97E, #28A690);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 100;
    animation: lockin 4s bounce 1 normal forwards;
}

@keyframes lockin {
    25% {
        width: 100vw;
        height: 100vh;
    }
    50% {
        width: 100vw;
        height: 60px;
    }
    75% {
        width: 1600px;
        height: 60px;
    }
    100% {
        width: 1600px;
        height: 60px;
    }
}
