.login {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.login:hover {
    cursor: pointer;
}

.signup {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.signup:hover {
    cursor: pointer;
}

.submit {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.submit:hover {
    cursor: pointer;
}

.cancel {
    width: 80px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.cancel:hover {
    cursor: pointer;
}

.nonprofit {
    width: 168px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.nonprofit:hover {
    cursor: pointer;
}

.business {
    width: 168px;
    height: 30px;
    border: 1px solid #76D97E;
    background-color: #005C4D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.business:hover {
    cursor: pointer;
}

.question {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.modalOption {
    font-size: 16px;
    text-decoration: underline;
}

.modalOption:hover {
    cursor: pointer;
}

.idCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 456px;
    height: 260px;
    border: none;
    overflow: hidden;
    border-radius: 5px;
    background-image: linear-gradient(#76D97E, #28A690),
        url('../../Assets/Images/Pattern_10.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    width: 456px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.logoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    height: 51px;
    margin: 0px;
    padding: 0px;
}

.logoType {
    font-family: motiva-sans, sans-serif;
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    color: black;
    margin: 0px;
    padding: 0px;
}

.labels {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: black;
}

.subText {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: black;
}

.sloganBox {
    width: 270px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-family: motiva-sans, sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    color: black;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 51px;
    margin: 0px;
    padding: 0px;
}

.iconBg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    width: 456px;
    height: 175px;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    height: 175px;
}

.image {
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid white;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 3 6px rgba(0, 0, 0, 0.15));
}

.userInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 130px;
    height: 141px;
}

.jobInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 130px;
    height: 141px;
}

.addressBox {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 50px;
}
